body {
  background-color: #a7e1f9;
}

.logo {
  margin: 5%;
  margin-right: 0%;
  left: 5%;
  display: inline-block;
}

.register {
  border-radius: 20px;
  font-size: 20px;
  background-color: #fff493;
  border-style: dotted;
  text-align: left;
  padding: 1%;
  padding-right: 15%;
  float: right;
  margin: 5%;
  display: inline-block;
}

#check {
  position: absolute;
  right: 10%;
  bottom: 55%;
}
