<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>자모</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <div class="title">
        <img src="/images/logo.png" alt="jamo-logo">
    </div>
    <div class="login">
        <div class="id">
            <form action="" method="post">
                <p>아이디</p>
                <input type="text" name="id" value="">
        </div>
        <div class="pw">
            <p>비밀번호</p>
            <input type="password" name="pw" value=""><br>
            <input type="submit" name="전송" value="전송">
            </form>
        </div>
    </div>
</body>

</html>
